absl-py==0.1.11
appdirs==1.4.3
astor==0.6.2
backports.weakref==1.0rc1
bleach==1.5.0
click==6.7
enum34==1.1.6
Flask==0.12
futures==3.1.1
gast==0.2.0
grpcio==1.10.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.9.5
Markdown==2.6.11
MarkupSafe==0.23
numpy==1.14.1
packaging==16.8
protobuf==3.5.2
pyparsing==2.2.0
six==1.11.0
tensorboard==1.6.0
tensorflow==1.6.0
tensorflow-tensorboard==1.5.0
termcolor==1.1.0
Werkzeug==0.14.1
