absl-py==0.5.0
appdirs==1.4.3
astor==0.7.1
backports.weakref==1.0rc1
bleach==1.5.0
click==6.7
enum34==1.1.6
Flask==1.0.2
futures==3.1.1
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2>=2.10.1
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==0.23
mock==3.0.5
numpy==1.15.2
packaging==16.8
protobuf==3.6.1
pyparsing==2.2.0
six==1.11.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
Werkzeug==0.14.1
